.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.31);
    border: 1px solid #ccc;
    border-radius: 5px;
}

.post {
    margin-bottom: 20px;
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

h5 {
    color: #777;
    margin-bottom: 5px;
}

p {
    color: #444;
}
